In [5]:
import pandas as pd

In [2]:
df = pd.read_csv('animelists_cleaned.csv/animelists_cleaned.csv')

In [3]:
df.head()

,username,anime_id,my_watched_episodes,my_start_date,my_finish_date,my_score,my_status,my_rewatching,my_rewatching_ep,my_last_updated,my_tags
0,karthiga,21,586,0000-00-00,0000-00-00,9,1,NaN,0,2013-03-03 10:52:53,NaN
1,karthiga,59,26,0000-00-00,0000-00-00,7,2,NaN,0,2013-03-10 13:54:51,NaN
2,karthiga,74,26,0000-00-00,0000-00-00,7,2,NaN,0,2013-04-27 16:43:35,NaN
3,karthiga,120,26,0000-00-00,0000-00-00,7,2,NaN,0,2013-03-03 10:53:57,NaN
4,karthiga,178,26,0000-00-00,0000-00-00,7,2,0.0,0,2013-03-27 15:59:13,NaN

In [4]:
df.shape

(31284030, 11)

In [6]:
import operator

In [149]:
def calculate_order_greedy(Item_list, rating, user_id):
    pie = {}
    rank = {}
    for i in Item_list:
        print("item is: ", i)
        pie[i] = preference_func(i, i+1, user_id, rating) - preference_func(i+1, i, user_id, rating)
    while (len(Item_list) > 0):
        t = max(pie.items(), key = operator.itemgetter(1))[0]
        rank[t] = len(Item_list)
        Item_list.remove(t)
        for k in Item_list:
            pie[k] = pie[k] + preference_func(t,k, user_id, rating) - preference_func(k,t, user_id, rating)
    return rank

In [6]:
rating = pd.read_csv('rating.csv/rating.csv')

In [122]:
mask =(rating['user_id'].value_counts() >= 10) & (rating['user_id'].value_counts() <= 15)

In [123]:
users = mask[mask == True].index

In [124]:
rating_2 = rating[rating['user_id'].isin(users)]

In [125]:
rating_2.shape

(63270, 3)

In [126]:
rating_2['anime_id'].nunique()

3275

In [78]:
rating.shape

(6337241, 3)

In [16]:
rating = rating[rating['rating'] >0]

In [48]:
rating[rating['user_id'] == 3]

     user_id  anime_id  rating
156        3        20       8
157        3       154       6
158        3       170       9
159        3       199      10
160        3       225       9
161        3       341       6
162        3       430       7
163        3       527       7
164        3       552       7
165        3       813      10
166        3      1119       7
167        3      1121       7
168        3      1122       7
169        3      1132       8
170        3      1292       6
171        3      1313       8
172        3      1526       7
173        3      1535      10
174        3      1564       7
175        3      1689       8
176        3      1764       6
177        3      1943       8
178        3      2201       7
179        3      2404       7
180        3      2847       7
181        3      3588       8
182        3      4026       7
183        3      5114      10
184        3      5231       8
185        3      6178       7
..       ...       ...     ...
218        3     19315       3
219        3     19815       9
220        3     20021       5
221        3     20159      10
222        3     20507       8
223        3     20583       9
224        3     21507       6
225        3     21881       7
226        3     22199       8
227        3     22297       8
228        3     22319       6
229        3     22547       6
230        3     22729       7
231        3     23301       8
232        3     23321       6
233        3     23333       4
234        3     23755       8
235        3     24415      10
236        3     26243       6
237        3     27631       8
238        3     27899       8
239        3     28121       9
240        3     28171      10
241        3     28223       6
242        3     28497       7
243        3     28701       9
244        3     28891       9
245        3     29854       6
248        3     31043      10
249        3     31859       7

[92 rows x 3 columns]

In [99]:
def indicator_f(x):
    if(x <0):
        r = 1
    else:
        r = 0
    return r

def Kendall_CC(u_id, v_id, df):
    S = 0
    
    user_anm_rating = pd.merge(df[df['user_id'] == u_id], df[df['user_id'] == v_id], on='anime_id', how='inner', \
                               suffixes={'_U', '_V'})
    if(len(user_anm_rating)>10):
        val = 0
        for a in range(len(user_anm_rating)-1):
            e = (user_anm_rating.loc[a,'rating_U'] - user_anm_rating.loc[a+1,'rating_U'])*(user_anm_rating.loc[a,'rating_V'] - user_anm_rating.loc[a+1,'rating_V'])
            val = val + indicator_f(e)
            #print(val)
        S = 1-4*(val/len(user_anm_rating)*(len(user_anm_rating)-1))
    return S

In [32]:
user_anm_rating= pd.merge(rating[rating['user_id'] == 3], rating[rating['user_id'] == 5], on='anime_id', how='inner', suffixes={'_U', '_V'})

In [151]:
def preference_func(A, B, user_id, rating):
    neighbs = Neighb(user_id, rating) ## return dictionary
    num = 0.0
    denom = 0.0
    for key, val in neighbs.items():
        prod = rating.loc[((rating['user_id'] == key)&(rating['anime_id'] == A)), 'rating'] - rating.loc[((rating['user_id'] == key)&(rating['anime_id'] == B)), 'rating']
        num = num + prod*val
        denom = denom+val
    print("preference func done for: ", A," & ", B)
    return num/denom

In [50]:
###preference_func(1535,20,3 )
import numpy as np

In [152]:
def Neighb(user_id, rating, cutoff = 10):
    all_users = list((rating['user_id']).unique())#.remove(user_id)
    all_users.remove(user_id)
    neighb_score = {}
    for u in all_users:
        print("user no: ", u)
        neighb_score[u] = Kendall_CC(user_id, u, rating)
    top_10 = sorted(neighb_score.items(), key=operator.itemgetter(1), reverse=True)[:cutoff]
    return dict(top_10)

In [105]:
##Neighb(3, rating_2)

In [62]:
user_anm_rating= pd.merge(rating[rating['user_id'] == 3], rating[rating['user_id'] == 9], on='anime_id', how='inner', suffixes={'_U', '_V'})

In [142]:
d = {'a':10, 'b':12, 'c':1, 'd':0.77}
d = dict(sorted(d.items(), key=operator.itemgetter(1), reverse=True)[:3])

In [127]:
all_items = rating_2['anime_id'].unique()

In [146]:
len(all_items)

3275

In [145]:
all_ranks = calculate_order_greedy(all_items, rating_2, 28)

KeyboardInterrupt:

In [147]:
## Stopped due to long time

In [148]:
rating_2['user_id'].nunique()

5094

In [14]:
ratings_3 = rating[rating['user_id'].isin([23,79,1000,45,20,10,1,560,999,5000,2000,5706])]

In [15]:
ratings_3['user_id'].value_counts()

5000    441
5706    334
1       153
2000    113
79      108
23       72
1000     41
45       26
20       19
999      16
560      12
10        8
Name: user_id, dtype: int64

In [ ]:
all_animes = ratings_3['anime_id']

### Reco Engine

In [184]:
def calculate_order_greedy(rating, user_id):
    pie = {}
    rank = {}
    my_neighbours, Item_list = Neighb(user_id, rating)
    #print("Item list:", Item_list)
    #print('\n')
    #print((Item_list)[:10])
    #Item_list = Item_list[:10]
    for i in Item_list:
        #print("my I is:", i)
        second_list = Item_list.copy()
        second_list.remove(i)
        for j in second_list:
        #print("Item is: ", Item_list[i], ":",Item_list[i+1])
            pie[i] = preference_func(i, j, user_id, rating,my_neighbours) - preference_func(j, i, user_id, rating,my_neighbours)
        #print("my pie:", pie, '\n' )
    #print("Pie is: ",pie)
    while (len(Item_list) > 0):
        t = max(pie.items(), key = operator.itemgetter(1))[0]
        #print("T is:", t)
        rank[t] = len(Item_list)
        Item_list.remove(t)
        pie.pop(t, None)
        #print("Item list updated is:", Item_list)
        for k in Item_list:
            #print("\nPrinting k as:", k)
            pie[k]= pie[k] + preference_func(t,k, user_id, rating,my_neighbours) - preference_func(k,t, user_id, rating,my_neighbours)
        #print("Pie updates as:", pie)
    return rank


def Neighb(user_id, rating, cutoff = 10):
    all_users = list((rating['user_id']).unique())#.remove(user_id)
    all_users.remove(user_id)
    neighb_score = {}
    Item_list = []
    for u in all_users:
        print("user is", u)
        neighb_score[u] = Kendall_CC(user_id, u, rating)
        Item_list = Item_list + list(rating.loc[rating['user_id'] == u, 'anime_id'])
#         print("length of item_list for user:", len(Item_list))
#         print("\n Item_list is", Item_list)
    #print("original lenght of items", len(Item_list))
    top_10 = dict(sorted(neighb_score.items(), key=operator.itemgetter(1), reverse=True)[:10])
    print(top_10)
    return top_10, list(set(Item_list))

def preference_func(A, B, user_id, rating, my_neighbs):
    #neighbs = Neighb(user_id, rating) ## return dictionary
    pf = 0.00
    num = 0.0
    denom = 0.0
    for key, val in my_neighbs.items():
        #print("val for:", key, "is", val)
        if(val!= 0.00):
            #print("key is", key, "Anime:", A, "&", B)
            mask1 = sum((rating['user_id'] == key)&(rating['anime_id'] == A))
            #print( "Mask 1", mask1)
            mask2 = sum((rating['user_id'] == key)&(rating['anime_id'] == B))
            #print( "Mask 2", mask2)
            if ((mask1 >0 )&( mask2 >0)):
                prod = rating.loc[((rating['user_id'] == key)&(rating['anime_id'] == A)), 'rating'].item() - rating.loc[((rating['user_id'] == key)&(rating['anime_id'] == B)), 'rating'].item()     
                #print("product for rating ", A," & ", B, " by ", key, " is:", prod)
                num = num + prod*val
                denom = denom+val
    if(denom > 0):
        pf = num/denom
        #print("Done preference as:", num/denom)
    return pf


def indicator_f(x):
    if(x <0):
        r = 1
    else:
        r = 0
    return r

def Kendall_CC(u_id, v_id, df):
    S = 0
    user_anm_rating = pd.merge(df[df['user_id'] == u_id], df[df['user_id'] == v_id], on='anime_id', how='inner', \
                               suffixes={'_U', '_V'})
    #print("\nshape of common animes rated:", user_anm_rating.shape)
    if(len(user_anm_rating)>5):
        val = 0
        for a in range(len(user_anm_rating)-1):
            e = (user_anm_rating.loc[a,'rating_U'] - user_anm_rating.loc[a+1,'rating_U'])*(user_anm_rating.loc[a,'rating_V'] - user_anm_rating.loc[a+1,'rating_V'])
            val = val + indicator_f(e)
            #print(val)
        S = 1-4*(val/(len(user_anm_rating)*(len(user_anm_rating)-1)))
    return S

In [178]:
#import operator

my_rank = calculate_order_greedy(ratings_3, 5000)

user is 1
user is 10
user is 20
user is 23
user is 45
user is 79
user is 560
user is 999
user is 1000
user is 2000
user is 5706
{20: 1.0, 5706: 0.9910696952048146, 2000: 0.9885714285714285, 79: 0.9819004524886877, 1000: 0.9637681159420289, 999: 0.9636363636363636, 23: 0.9215686274509804, 560: 0.8571428571428572, 45: 0.5714285714285714, 1: 0}


[1, 5, 6, 22535, 4106, 15, 16, 19, 20, 6164]
my I is: 1
my I is: 5
my I is: 6
my I is: 22535
my I is: 4106
my I is: 15
my I is: 16
my I is: 19
my I is: 20
my I is: 6164
Pie is:  {1: 0.0, 5: 0.0, 6: 0.0, 22535: 0.0, 4106: 0.0, 15: 0.0, 16: 0.0, 19: 0.0, 20: 0.0, 6164: 0.0}
T is: 1
Item list updated is: [5, 6, 22535, 4106, 15, 16, 19, 20, 6164]

Printing k as: 5

Printing k as: 6

Printing k as: 22535

Printing k as: 4106

Printing k as: 15

Printing k as: 16

Printing k as: 19

Printing k as: 20

Printing k as: 6164
Pie updates as: {5: -0.9649225715626466, 6: 0.0, 22535: -4.0, 4106: 0.0, 15: 2.0, 16: -2.0, 19: -4.0, 20: 0.0, 6164: 0.0}
T is: 15
Item list updated is: [5, 6, 22535, 4106, 16, 19, 20, 6164]

Printing k as: 5

Printing k as: 6

Printing k as: 22535

Printing k as: 4106

Printing k as: 16

Printing k as: 19

Printing k as: 20

Printing k as: 6164
Pie updates as: {5: -2.9649225715626466, 6: -2.0, 22535: -4.0, 4106: -2.0, 16: -2.0, 19: -4.0, 20: 0.0, 6164: 0.0}
T is: 20
Item list updated is: [5, 6, 22535, 4106, 16, 19, 6164]

Printing k as: 5

Printing k as: 6

Printing k as: 22535

Printing k as: 4106

Printing k as: 16

Printing k as: 19

Printing k as: 6164
Pie updates as: {5: -2.9649225715626466, 6: -2.0, 22535: -4.0, 4106: -2.0, 16: -2.0, 19: -4.0, 6164: 0.0}
T is: 6164
Item list updated is: [5, 6, 22535, 4106, 16, 19]

Printing k as: 5

Printing k as: 6

Printing k as: 22535

Printing k as: 4106

Printing k as: 16

Printing k as: 19
Pie updates as: {5: -2.9649225715626466, 6: -2.0, 22535: -4.0, 4106: -2.0, 16: -2.0, 19: -4.0}
T is: 6
Item list updated is: [5, 22535, 4106, 16, 19]

Printing k as: 5

Printing k as: 22535

Printing k as: 4106

Printing k as: 16

Printing k as: 19
Pie updates as: {5: -2.9649225715626466, 22535: -4.0, 4106: -2.0, 16: -2.0, 19: -4.0}
T is: 4106
Item list updated is: [5, 22535, 16, 19]

Printing k as: 5

Printing k as: 22535

Printing k as: 16

Printing k as: 19
Pie updates as: {5: -2.9649225715626466, 22535: -4.0, 16: -2.0, 19: -4.0}
T is: 16
Item list updated is: [5, 22535, 19]

Printing k as: 5

Printing k as: 22535

Printing k as: 19
Pie updates as: {5: -2.9649225715626466, 22535: -6.0, 19: -6.0}
T is: 5
Item list updated is: [22535, 19]

Printing k as: 22535

Printing k as: 19
Pie updates as: {22535: -6.0, 19: -6.0}
T is: 22535
Item list updated is: [19]

Printing k as: 19
Pie updates as: {19: -6.0}
T is: 19
Item list updated is: []
Pie updates as: {}

In [179]:
my_rank

{1: 10, 15: 9, 20: 8, 6164: 7, 6: 6, 4106: 5, 16: 4, 5: 3, 22535: 2, 19: 1}

In [181]:
dict(sorted(my_rank.items(), key=operator.itemgetter(1), reverse=True))

{1: 10, 15: 9, 20: 8, 6164: 7, 6: 6, 4106: 5, 16: 4, 5: 3, 22535: 2, 19: 1}

### checking performance

In [185]:
import time
start_time = time.time()
my_rank = calculate_order_greedy(ratings_3, 5000)
elapsed_time = time.time() - start_time
print("time elapsed for one user and all possible items:", elapsed_time)

user is 1
user is 10
user is 20
user is 23
user is 45
user is 79
user is 560
user is 999
user is 1000
user is 2000
user is 5706
{20: 1.0, 5706: 0.9910696952048146, 2000: 0.9885714285714285, 79: 0.9819004524886877, 1000: 0.9637681159420289, 999: 0.9636363636363636, 23: 0.9215686274509804, 560: 0.8571428571428572, 45: 0.5714285714285714, 1: 0}
time elapsed for one user and all possible items: 9761.602122068405

In [186]:
my_rank

{22535: 554,
 16512: 553,
 19315: 552,
 16592: 551,
 2476: 550,
 5: 549,
 225: 548,
 9790: 547,
 859: 546,
 860: 545,
 3785: 544,
 8407: 543,
 298: 542,
 6164: 541,
 591: 540,
 886: 539,
 1749: 538,
 60: 537,
 232: 536,
 10321: 535,
 430: 534,
 193: 533,
 330: 532,
 15583: 531,
 1696: 530,
 15451: 529,
 11617: 528,
 13807: 527,
 8074: 526,
 8425: 525,
 243: 524,
 12711: 523,
 15085: 522,
 426: 521,
 6682: 520,
 5391: 519,
 13759: 518,
 1639: 517,
 14813: 516,
 9741: 515,
 28623: 514,
 48: 513,
 10330: 512,
 2156: 511,
 4214: 510,
 168: 509,
 12471: 508,
 10444: 507,
 10491: 506,
 257: 505,
 8560: 504,
 4726: 503,
 32: 502,
 690: 501,
 11005: 500,
 857: 499,
 9201: 498,
 7334: 497,
 5337: 496,
 11633: 495,
 7593: 494,
 7705: 493,
 22199: 492,
 3791: 491,
 5958: 490,
 3588: 489,
 6880: 488,
 4981: 487,
 1138: 486,
 11385: 485,
 1157: 484,
 3270: 483,
 3366: 482,
 1409: 481,
 1410: 480,
 10015: 479,
 1887: 478,
 1132: 477,
 6702: 476,
 790: 475,
 6033: 474,
 12581: 473,
 6500: 472,
 10620: 471,
 8876: 470,
 819: 469,
 3375: 468,
 7739: 467,
 10073: 466,
 10076: 465,
 20649: 464,
 12669: 463,
 31163: 462,
 23281: 461,
 13055: 460,
 9117: 459,
 11235: 458,
 11499: 457,
 31: 456,
 1726: 455,
 12461: 454,
 446: 453,
 20971: 452,
 6882: 451,
 11061: 450,
 2962: 449,
 916: 448,
 7088: 447,
 27655: 446,
 1043: 445,
 5772: 444,
 10119: 443,
 687: 442,
 6201: 441,
 96: 440,
 10464: 439,
 245: 438,
 8456: 437,
 288: 436,
 469: 435,
 6633: 434,
 527: 433,
 4719: 432,
 8861: 431,
 10924: 430,
 696: 429,
 8918: 428,
 763: 427,
 764: 426,
 2993: 425,
 7148: 424,
 1210: 423,
 1239: 422,
 1264: 421,
 1502: 420,
 7740: 419,
 15963: 418,
 1668: 417,
 1669: 416,
 1675: 415,
 5781: 414,
 7858: 413,
 12065: 412,
 6205: 411,
 12445: 410,
 269: 409,
 6512: 408,
 532: 407,
 740: 406,
 1816: 405,
 196: 404,
 18671: 403,
 437: 402,
 443: 401,
 8676: 400,
 524: 399,
 15037: 398,
 21327: 397,
 3167: 396,
 31859: 395,
 11433: 394,
 1212: 393,
 13601: 392,
 30276: 391,
 18119: 390,
 392: 389,
 10087: 388,
 481: 387,
 15: 386,
 22: 385,
 2104: 384,
 6213: 383,
 10336: 382,
 2164: 381,
 4246: 380,
 205: 379,
 246: 378,
 339: 377,
 356: 376,
 393: 375,
 8624: 374,
 4654: 373,
 6802: 372,
 2759: 371,
 8937: 370,
 11285: 369,
 3230: 368,
 9513: 367,
 11741: 366,
 7791: 365,
 16049: 364,
 3784: 363,
 9941: 362,
 11241: 361,
 5680: 360,
 2129: 359,
 10350: 358,
 145: 357,
 6351: 356,
 10490: 355,
 8449: 354,
 16668: 353,
 9919: 352,
 10156: 351,
 14645: 350,
 2397: 349,
 376: 348,
 6736: 347,
 647: 346,
 12967: 345,
 8934: 344,
 756: 343,
 4879: 342,
 807: 341,
 6954: 340,
 4975: 339,
 7079: 338,
 7103: 337,
 7193: 336,
 5204: 335,
 7254: 334,
 7333: 333,
 1215: 332,
 5342: 331,
 15731: 330,
 1578: 329,
 1699: 328,
 16035: 327,
 1838: 326,
 10232: 325,
 8190: 324,
 30: 323,
 400: 322,
 482: 321,
 813: 320,
 195: 319,
 270: 318,
 390: 317,
 14741: 316,
 512: 315,
 585: 314,
 31580: 313,
 5341: 312,
 16067: 311,
 18153: 310,
 6007: 309,
 530: 308,
 21881: 307,
 20: 306,
 7059: 305,
 17741: 304,
 523: 303,
 199: 302,
 6: 301,
 4106: 300,
 97: 299,
 121: 298,
 11757: 297,
 136: 296,
 1313: 295,
 202: 294,
 227: 293,
 237: 292,
 4382: 291,
 8525: 290,
 479: 289,
 10721: 288,
 6746: 287,
 759: 286,
 849: 285,
 9756: 284,
 5681: 283,
 11977: 282,
 11979: 281,
 11981: 280,
 16417: 279,
 6187: 278,
 59: 277,
 14397: 276,
 4186: 275,
 100: 274,
 147: 273,
 4280: 272,
 22729: 271,
 2274: 270,
 2298: 269,
 6399: 268,
 322: 267,
 2398: 266,
 380: 265,
 381: 264,
 4477: 263,
 12677: 262,
 438: 261,
 6610: 260,
 467: 259,
 8675: 258,
 6676: 257,
 16918: 256,
 550: 255,
 8768: 254,
 4744: 253,
 6793: 252,
 6896: 251,
 861: 250,
 19363: 249,
 934: 248,
 13271: 247,
 1015: 246,
 13349: 245,
 5177: 244,
 11441: 243,
 15613: 242,
 3359: 241,
 9723: 240,
 9731: 239,
 3594: 238,
 1566: 237,
 9793: 236,
 3652: 235,
 5717: 234,
 22145: 233,
 1698: 232,
 3782: 231,
 1818: 230,
 5940: 229,
 1864: 228,
 10092: 227,
 10098: 226,
 1958: 225,
 4059: 224,
 4066: 223,
 20457: 222,
 1498: 221,
 223: 220,
 24687: 219,
 24701: 218,
 10408: 217,
 6372: 216,
 22319: 215,
 387: 214,
 457: 213,
 486: 212,
 6637: 211,
 9289: 210,
 572: 209,
 14227: 208,
 14289: 207,
 578: 206,
 10863: 205,
 23273: 204,
 777: 203,
 21329: 202,
 1140: 201,
 21939: 200,
 11887: 199,
 1222: 198,
 16001: 197,
 2961: 196,
 5909: 195,
 6547: 194,
 164: 193,
 2966: 192,
 11313: 191,
 9989: 190,
 226: 189,
 27: 188,
 3470: 187,
 1689: 186,
 874: 185,
 14467: 184,
 27899: 183,
 21995: 182,
 16782: 181,
 5630: 180,
 12189: 179,
 9253: 178,
 6707: 177,
 20507: 176,
 12355: 175,
 68: 174,
 94: 173,
 101: 172,
 123: 171,
 173: 170,
 4282: 169,
 10460: 168,
 8422: 167,
 247: 166,
 22789: 165,
 8514: 164,
 336: 163,
 341: 162,
 2404: 161,
 10681: 160,
 447: 159,
 4551: 158,
 14807: 157,
 2581: 156,
 2593: 155,
 10793: 154,
 4662: 153,
 6772: 152,
 8888: 151,
 6864: 150,
 6895: 149,
 23289: 148,
 771: 147,
 793: 146,
 4896: 145,
 801: 144,
 13115: 143,
 1024: 142,
 3091: 141,
 13333: 140,
 5150: 139,
 1060: 138,
 9252: 137,
 3227: 136,
 1241: 135,
 3298: 134,
 9465: 133,
 13585: 132,
 3354: 131,
 19775: 130,
 3392: 129,
 7592: 128,
 11697: 127,
 11703: 126,
 5593: 125,
 11739: 124,
 3574: 123,
 7674: 122,
 9724: 121,
 5690: 120,
 9834: 119,
 18055: 118,
 1691: 117,
 3783: 116,
 14075: 115,
 3927: 114,
 1889: 113,
 1906: 112,
 18295: 111,
 10152: 110,
 18397: 109,
 11837: 108,
 2034: 107,
 1530: 106,
 4898: 105,
 11701: 104,
 6573: 103,
 1: 102,
 4182: 101,
 2926: 100,
 2236: 99,
 61: 98,
 31043: 97,
 1571: 96,
 449: 95,
 451: 94,
 1579: 93,
 325: 92,
 9656: 91,
 6045: 90,
 4224: 89,
 16: 88,
 46: 87,
 12365: 86,
 16524: 85,
 177: 84,
 18661: 83,
 2294: 82,
 14713: 81,
 408: 80,
 476: 79,
 560: 78,
 6726: 77,
 587: 76,
 2768: 75,
 4918: 74,
 4938: 73,
 9065: 72,
 11113: 71,
 1021: 70,
 25681: 69,
 23673: 68,
 5530: 67,
 7662: 66,
 3615: 65,
 7724: 64,
 5682: 63,
 3655: 62,
 1827: 61,
 10049: 60,
 1890: 59,
 8086: 58,
 1723: 57,
 10800: 56,
 10379: 55,
 5300: 54,
 4081: 53,
 552: 52,
 11111: 51,
 7338: 50,
 853: 49,
 182: 48,
 2904: 47,
 10162: 46,
 2025: 45,
 71: 44,
 2167: 43,
 452: 42,
 957: 41,
 1562: 40,
 16498: 39,
 450: 38,
 4752: 37,
 3457: 36,
 120: 35,
 45: 34,
 3731: 33,
 1575: 32,
 11665: 31,
 19: 30,
 44: 29,
 73: 28,
 93: 27,
 156: 26,
 401: 25,
 6591: 24,
 2685: 23,
 877: 22,
 969: 21,
 5205: 20,
 5507: 19,
 5525: 18,
 1482: 17,
 1557: 16,
 5678: 15,
 5835: 14,
 10030: 13,
 1914: 12,
 4722: 11,
 431: 10,
 7054: 9,
 6811: 8,
 249: 7,
 4181: 6,
 317: 5,
 72: 4,
 2952: 3,
 1535: 2,
 5114: 1}